<h1><%= @user.username %></h1>



<table>
  <thead>
  <tr>
    <th>Email</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @user.email %></td>
        <td><%= link_to 'Edit', edit_user_path(@user.id) %></td>
        <td><%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
</table>

<div>
<%= link_to 'New user', new_user_path %>
</div>

<div>
<%= link_to 'Add todo', new_task_path %>

</div>
<div>
<%= link_to 'log out', login_path %>

</div>


<h3>Todos</h3>

<% @user.tasks.each do |d| %>

<p>
  <strong>Name:</strong>
  <%= d.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= d.content %>
</p>

    <p>-----------------------------</p>

<% end %>

